---
import Github from "../icons/github.astro";
import Linkedin from "../icons/linkedin.astro";
import Instagram from "../icons/instagram.astro";

import { Font } from "astro:assets";
---

<Font cssVariable="--font-pacifico" />

<section id="hero" class="flex justify-between max-w-7xl mx-auto">
	<div>
		<h1 class="text-4xl font-semibold">Haciendo webs que cambian la vida</h1>
		<div class="border-b-2 border-gray-800 rounded-sm"></div>
		<h2 class="text-2xl font-semibold">Jonathan Sanchez Guerrero</h2>
		<div class="">
			<p>Desarrollador web y desarrollador de juegos con experiencia en el desarrollo de aplicaciones</p>
			<p>
				<span class="web-modernas p-1 mr-2 bg-blue-600/20 rounded shadow shadow-cyan-100">
					web modernas
				</span>
				<span class="responsivas p-1 bg-blue-600/20 rounded shadow shadow-cyan-100">
					responsivas
				</span>
			</p>
		</div>
	</div>
	<div class="flex flex-col gap-2">
		<a href="#" class="p-2 h-10 w-10 border-white bg-gray-300/20 border rounded-sm shadow"> <Github /> </a>
		<a href="#" class="p-2 h-10 w-10 border-white bg-gray-300/20 border rounded-sm shadow"> <Linkedin /> </a>
		<a href="#" class="p-2 h-10 w-10 border-white bg-gray-300/20 border rounded-sm shadow"> <Instagram /> </a>
	</div>
</section>

<style>
	.web-modernas {
		font-family: var(--font-pacifico);
	}
	.responsivas {
		font-family: var(--font-pacifico);
	}
</style>
